{% load i18n %}

<div 
  role="alert"
  class="flex justify-between w-full shadow p-4 rounded bg-insight-{{ type }}"
  {% if options.id %}id="{{ options.id }}"{% endif %}
>
  <div class="flex items-center space-x-2 text-white">
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="currentColor" class="size-6" viewBox="0 0 24 24">
      {% if type == 'info' %}
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"></path>
      {% elif type == 'success' %}
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"></path>
      {% elif type == 'warning' %}
        <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"></path>
      {% elif type == 'error' %}
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path>
      {% endif %}
    </svg>
    <p>{{ message }}</p>
  </div>
  
  {% if dismissible %}
    <button 
      class="bg-white h-fit rounded-sm p-2 text-insight-text-primary hover:bg-neutral-100 transition" 
      aria-label="{% trans 'Schließen' %}"
      onclick="this.parentElement.remove();">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
        <path d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z" />
      </svg>
    </button>
  {% endif %}
</div>
