{% load i18n %}

<nav role="navigation" aria-label="{% trans 'Breadcrumb-Navigation' %}">
  <ol class="flex gap-2">
    {% for item in items %}
      <li >
        {% if not forloop.last %}
          <a href="{% url item.url %}" class="underline text-insight-text-link hover:text-insight-text-link-hover">{{ item.text }}</a>
          <span class="text-neutral-300" aria-hidden="true">/</span>
        {% else %}
          <span aria-current="page" class="text-neutral-400">{{ item.text }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>
