{% load i18n %}

<div class="max-w-2xl">
    <div class="bg-gray-50 dark:bg-gray-700 border dark:border-0 p-4 rounded-md">
        <div class="flex justify-between items-center">
            <div class="flex gap-2">
                <div class="size-3 rounded-full bg-red-500"></div>
                <div class="size-3 rounded-full bg-yellow-500"></div>
                <div class="size-3 rounded-full bg-green-500"></div>
            </div>
            <button class="btn btn-secondary btn-xs code" data-clipboard-target="#code">
                {% trans "Copy" %}
            </button>
        </div>
        <div class="overflow-x-auto">
            <pre id="code" class="language-javascript"><code>{{ code }}</code></pre>
        </div>
    </div>
</div>

<script>
    new ClipboardJS('.code');
</script>
