{% load i18n %}

<!-- Buttons -->
<div class="space-y-4">
    <h2 class="text-xl font-semibold text-insight-text-primary dark:text-white mb-2">{% trans "Buttons" %}</h2>
    <div class="flex items-center gap-1">
        <button class="bg-insight-primary border-insight-primary border-2 rounded-sm text-white px-6 py-2 hover:bg-insight-primary-hover active:bg-insight-primary-active hover:border-insight-primary-hover active:border-insight-primary-active transition">
            {% trans "Primary" %}
        </button>
        <button class="bg-insight-secondary border-insight-secondary border-2 rounded-sm text-white px-6 py-2 hover:bg-insight-secondary-hover active:bg-insight-secondary-active hover:border-insight-secondary-hover active:border-insight-secondary-active transition">
            {% trans "Secondary" %}
        </button>
        <button class="bg-insight-success border-insight-success border-2 rounded-sm text-white px-6 py-2 hover:bg-insight-success-hover active:bg-insight-success-active hover:border-insight-success-hover active:border-insight-success-active transition">
            {% trans "Success" %}
        </button>
        <button class="bg-insight-warning border-insight-warning border-2 rounded-sm text-white px-6 py-2 hover:bg-insight-warning-hover active:bg-insight-warning-active hover:border-insight-warning-hover active:border-insight-warning-active transition">
            {% trans "Warning" %}
        </button>
        <button class="bg-insight-error border-insight-error border-2 rounded-sm text-white px-6 py-2 hover:bg-insight-error-hover active:bg-insight-error-active hover:border-insight-error-hover active:border-insight-error-active transition">
            {% trans "Error" %}
        </button>
        <button class="bg-insight-info border-insight-info border-2 rounded-sm text-white px-6 py-2 hover:bg-insight-info-hover active:bg-insight-info-active hover:border-insight-info-hover active:border-insight-info-active transition">
            {% trans "Info" %}
        </button>
        <button disabled class="bg-neutral-300 dark:bg-neutral-600 border-neutral-300 dark:border-neutral-600 border-2 rounded-sm text-neutral-400 px-6 py-2">
            {% trans "Disabled" %}
        </button>
        <button aria-label="{% trans 'Schließen' %}" class="bg-white h-fit rounded-sm shadow p-3 text-insight-text-primary hover:bg-neutral-200 active:bg-neutral-400 transition">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                <path d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z" />
            </svg>
        </button>
        <a href="#" class="underline text-insight-text-link px-6 py-2 hover:text-insight-text-link-hover">
            {% trans "Link" %}
        </a>
    </div>
    <h2 class="text-xl font-semibold text-insight-text-primary dark:text-white mb-2">{% trans "Outline Buttons" %}</h2>
    <div class="flex gap-1">
        <button class="border-insight-primary border-2 rounded-sm text-insight-primary px-6 py-2 hover:text-white hover:bg-insight-primary-hover active:bg-insight-primary-active hover:border-insight-primary-hover active:border-insight-primary-active transition">
            {% trans "Primary" %}
        </button>
        <button class="border-insight-secondary border-2 rounded-sm text-insight-secondary px-6 py-2 hover:text-white hover:bg-insight-secondary-hover active:bg-insight-secondary-active hover:border-insight-secondary-hover active:border-insight-secondary-active transition">
            {% trans "Secondary" %}
        </button>
        <button class="border-insight-success border-2 rounded-sm text-insight-success px-6 py-2 hover:text-white hover:bg-insight-success-hover active:bg-insight-success-active hover:border-insight-success-hover active:border-insight-success-active transition">
            {% trans "Success" %}
        </button>
        <button class="border-insight-warning border-2 rounded-sm text-insight-warning px-6 py-2 hover:text-white hover:bg-insight-warning-hover active:bg-insight-warning-active hover:border-insight-warning-hover active:border-insight-warning-active transition">
            {% trans "Warning" %}
        </button>
        <button class="border-insight-error border-2 rounded-sm text-insight-error px-6 py-2 hover:text-white hover:bg-insight-error-hover active:bg-insight-error-active hover:border-insight-error-hover active:border-insight-error-active transition">
            {% trans "Error" %}
        </button>
        <button class="border-insight-info border-2 rounded-sm text-insight-info px-6 py-2 hover:text-white hover:bg-insight-info-hover active:bg-insight-info-active hover:border-insight-info-hover active:border-insight-info-active transition">
            {% trans "Info" %}
        </button>
        <button disabled class="border-neutral-300 dark:border-neutral-600 border-2 rounded-sm text-neutral-400 px-6 py-2">
            {% trans "Disabled" %}
        </button>
    </div>
    <h2 class="text-xl font-semibold text-insight-text-primary dark:text-white mb-2">{% trans "Button Größen" %}</h2>
    <div class="flex items-end gap-1">
        <button class="bg-insight-primary rounded-sm text-white px-6 py-2 hover:bg-insight-primary-hover active:bg-insight-primary-active transition">
            {% trans "Klick mich!" %}
        </button>
        <button class="bg-insight-primary rounded-sm text-white text-sm px-5 py-1.5 hover:bg-insight-primary-hover active:bg-insight-primary-active transition">
            {% trans "Klick mich!" %}
        </button>
        <button class="bg-insight-primary rounded-sm text-white text-xs px-4 py-1 hover:bg-insight-primary-hover active:bg-insight-primary-active transition">
            {% trans "Klick mich!" %}
        </button>
    </div>
</div>
<!-- Checkboxes -->
<div class="flex flex-col space-y-2">
    <h2 class="text-xl font-semibold text-insight-text-primary dark:text-white mb-2">{% trans "Checkboxen" %}</h2>
    <label class="flex items-center gap-1">
        <input type="checkbox" id="english" name="lang" value="english">
        <span class="text-sm">{% trans "Englisch" %}</span>
    </label>
    <label class="flex items-center gap-1">
        <input type="checkbox" id="german" name="lang" value="german">
        <span class="text-sm">{% trans "Deutsch" %}</span>
    </label>
    <label class="flex items-center gap-1">
        <input type="checkbox" id="italian" name="lang" value="italian">
        <span class="text-sm">{% trans "Italienisch" %}</span>
    </label>
</div>
<!-- Radio Buttons -->
<div class="flex flex-col space-y-2">
    <h2 class="text-xl font-semibold text-insight-text-primary dark:text-white mb-2">{% trans "Radio Buttons" %}</h2>
    <label class="flex items-center gap-1">
        <input type="radio" id="model1" name="radio-example1" value="BERT">
        <span class="text-sm">{% trans "BERT" %}</span>
    </label>
    <label class="flex items-center gap-1">
        <input type="radio" id="model2" name="radio-example1" value="PaLM 2">
        <span class="text-sm">{% trans "PaLM 2" %}</span>
    </label>
    <label class="flex items-center gap-1">
        <input type="radio" id="model3" name="radio-example1" value="LLaMA 2" disabled>
        <span class="text-sm text-neutral-500">{% trans "LLaMA 2 (Momentan nicht verfügbar)" %}</span>
    </label>
</div>
<!-- Block Radio-Buttons -->
<div class="flex flex-col space-y-2">
    <h2 class="text-xl font-semibold text-insight-text-primary dark:text-white mb-2">{% trans "Block Radio Buttons" %}</h2>
    <div class="flex rtl:flex-row-reverse w-fit">
        <div>
            <input type="radio" id="view1" name="radio-example2" value="card" checked="true" class="peer sr-only">
            <label for="view1" class="cursor-pointer flex peer-checked:bg-insight-primary-active peer-checked:border-insight-primary-active bg-insight-primary border-insight-primary border-2 rounded-l-sm text-white px-4 py-1 hover:bg-insight-primary-hover active:bg-insight-primary-active hover:border-insight-primary-hover active:border-insight-primary-active transition">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="M3 6a3 3 0 0 1 3-3h2.25a3 3 0 0 1 3 3v2.25a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6Zm9.75 0a3 3 0 0 1 3-3H18a3 3 0 0 1 3 3v2.25a3 3 0 0 1-3 3h-2.25a3 3 0 0 1-3-3V6ZM3 15.75a3 3 0 0 1 3-3h2.25a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3v-2.25Zm9.75 0a3 3 0 0 1 3-3H18a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3h-2.25a3 3 0 0 1-3-3v-2.25Z" clip-rule="evenodd" />
                </svg>
            </label>
        </div>
        <div>
            <input type="radio" id="view2" name="radio-example2" value="table" class="peer sr-only">
            <label for="view2" class="cursor-pointer flex peer-checked:bg-insight-primary-active peer-checked:border-insight-primary-active bg-insight-primary border-insight-primary border-y-2 text-white px-4 py-1 hover:bg-insight-primary-hover active:bg-insight-primary-active hover:border-insight-primary-hover active:border-insight-primary-active transition">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                </svg>
            </label>
        </div>
        <div>
            <input type="radio" id="view3" name="radio-example2" value="carousel" class="peer sr-only">
            <label for="view3" class="cursor-pointer flex peer-checked:bg-insight-primary-active peer-checked:border-insight-primary-active bg-insight-primary border-insight-primary border-2 rounded-r-sm text-white px-4 py-1 hover:bg-insight-primary-hover active:bg-insight-primary-active hover:border-insight-primary-hover active:border-insight-primary-active transition">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path d="M11.644 1.59a.75.75 0 0 1 .712 0l9.75 5.25a.75.75 0 0 1 0 1.32l-9.75 5.25a.75.75 0 0 1-.712 0l-9.75-5.25a.75.75 0 0 1 0-1.32l9.75-5.25Z" />
                    <path d="m3.265 10.602 7.668 4.129a2.25 2.25 0 0 0 2.134 0l7.668-4.13 1.37.739a.75.75 0 0 1 0 1.32l-9.75 5.25a.75.75 0 0 1-.71 0l-9.75-5.25a.75.75 0 0 1 0-1.32l1.37-.738Z" />
                    <path d="m10.933 19.231-7.668-4.13-1.37.739a.75.75 0 0 0 0 1.32l9.75 5.25c.221.12.489.12.71 0l9.75-5.25a.75.75 0 0 0 0-1.32l-1.37-.738-7.668 4.13a2.25 2.25 0 0 1-2.134-.001Z" />
                </svg>
            </label>
        </div>
    </div>
</div>
<!-- Switches / Toggle-Buttons -->
<div class="flex flex-col space-y-2">
    <h2 class="text-xl font-semibold text-insight-text-primary dark:text-white mb-2">{% trans "Switches / Toggle-Buttons" %}</h2>
    <label class="inline-flex items-center cursor-pointer w-fit">
        <input type="checkbox" value="" class="peer sr-only">
        <div class="relative w-10 h-3 bg-gray-300 rounded-full peer peer-focus:outline peer-focus:outline-2 outline-gray-400 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full after:content-[''] after:absolute after:top-[-6px] after:start-[-3px] after:bg-white after:border-gray-300 after:dark:border-gray-700 after:border after:rounded-full after:size-6 after:transition-all peer-checked:bg-insight-primary transition"></div>
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">{% trans "Klick mich!" %}</span>
    </label>
</div>
<!-- Range-Slider -->
<div class="flex flex-col space-y-2">
    <h2 class="text-xl font-semibold text-insight-text-primary dark:text-white mb-2">{% trans "Range-Slider" %}</h2>
    <div class="relative">
        <label for="range-input" class="sr-only">{% trans "Range Titel" %}</label>
        <input id="range-input" type="range" value="1000" min="100" max="1500" class="w-full h-2 bg-gray-200 dark:bg-gray-700 rounded-sm appearance-none cursor-pointer">
        <div class="flex justify-between w-full text-sm text-insight-text-secondary dark:text-insight-text-secondary-dark">
            <span>Min ($100)</span>
            <span>$500</span>
            <span>$750</span>
            <span>$1000</span>
            <span>Max ($1500)</span>
        </div>
    </div>
</div>
