{% load i18n %}

<ul>
    <!-- Loading Indicator für den Container -->
    {% include "insight_ui/components/htmx_loading_indicator.html" %}
    {% for item in pagination.page_obj.object_list %}
        <li class="bg-white dark:bg-gray-700 border border-gray-200 dark:border-gray-600 rounded-lg p-4 mb-4">
            <h3 class="text-lg font-semibold text-insight-text-primary dark:text-white mb-2">{{ item.title }}</h3>
            <p class="text-insight-text-secondary dark:text-insight-text-secondary-dark">{{ item.content }}</p>
        </li>
    {% empty %}
        <li>{% trans "Keine Elemente gefunden." %}</li>
    {% endfor %}
</ul>

<!-- Pagination -->
<div class="pagination" hx-indicator="#loading-indicator">
    <div class="flex gap-1 justify-center w-full">
        <!-- Previous and first -->
        {% if pagination.page_obj.has_previous %}
            <a
              href="{% url 'pagination' %}?page=1"
              hx-get="{% url 'pagination' %}?page=1"
              hx-target="#book-list-container"
              class="flex items-center bg-insight-primary rounded-sm text-white px-4 py-1 hover:bg-insight-primary-hover active:bg-insight-primary-active transition"
            >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5" />
                </svg>
            </a>
            <a
              href="{% url 'pagination' %}?page={{ pagination.page_obj.previous_page_number }}"
              hx-get="{% url 'pagination' %}?page={{ pagination.page_obj.previous_page_number }}"
              hx-target="#book-list-container"
              class="flex items-center bg-insight-primary rounded-sm text-white px-4 py-1 hover:bg-insight-primary-hover active:bg-insight-primary-active transition"
            >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                </svg>
            </a>
        {% else %}
            <a class="flex items-center bg-neutral-300 dark:bg-neutral-600 rounded-sm text-neutral-400 px-4 py-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5" />
                </svg>
            </a>
            <a class="flex items-center bg-neutral-300 dark:bg-neutral-600 rounded-sm text-neutral-400 px-4 py-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                </svg>
            </a>
        {% endif %}

        <!-- Neighbor Pages -->
        <div class="flex gap-1 justify-center w-96">
            {% for num in pagination.surrounding_pages %}
                {% if num == pagination.page_obj.number %}
                    <span class="bg-insight-primary-active rounded-sm text-white px-4 py-1">{{ num }}</span>
                {% elif num == "..." %}
                    {% comment %} <span class="text-neutral-400 px-4 py-1">{{ num }}</span> {% endcomment %}
                {% else %}
                    <a
                    href="{% url 'pagination' %}?page={{ num }}"
                    hx-get="{% url 'pagination' %}?page={{ num }}"
                    hx-target="#book-list-container"
                    class="bg-insight-primary rounded-sm text-white px-4 py-1 hover:bg-insight-primary-hover active:bg-insight-primary-active transition"
                    >
                        {{ num }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>

        <!-- Next and last -->
        {% if pagination.page_obj.has_next %}
            <a
              href="{% url 'pagination' %}?page={{ pagination.page_obj.next_page_number }}"
              hx-get="{% url 'pagination' %}?page={{ pagination.page_obj.next_page_number }}"
              hx-target="#book-list-container"
              class="flex items-center bg-insight-primary rounded-sm text-white px-4 py-1 hover:bg-insight-primary-hover active:bg-insight-primary-active transition"
            >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
            </a>
            <a
              href="{% url 'pagination' %}?page={{ pagination.page_obj.paginator.num_pages }}"
              hx-get="{% url 'pagination' %}?page={{ pagination.page_obj.paginator.num_pages }}"
              hx-target="#book-list-container"
              class="flex items-center bg-insight-primary rounded-sm text-white px-4 py-1 hover:bg-insight-primary-hover active:bg-insight-primary-active transition"
            >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
                </svg>
            </a>
        {% else %}
        <a class="flex items-center bg-neutral-300 dark:bg-neutral-600 rounded-sm text-neutral-400 px-4 py-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
            </a>
            <a class="flex items-center bg-neutral-300 dark:bg-neutral-600 rounded-sm text-neutral-400 px-4 py-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
                </svg>
            </a>
        {% endif %}
    </div>

    <!-- Current Page -->
    <span class="current">
        Seite {{ pagination.page_obj.number }} von {{ pagination.page_obj.paginator.num_pages }}.
    </span>
</div>
