{% load static i18n %}

<div class="bg-gray-50 dark:bg-gray-700 h-56 w-96 border border-gray-100 dark:border-none shadow-lg rounded" {% if options.id %}id="{{ options.id }}"{% endif %}>
  {% if image %}
    <div class="w-full h-24 overflow-hidden">
      <img src="{% static image.url %}" alt="{{ image.alt|default:'' }}" class="w-full object-cover" />
    </div>
  {% endif %}

  <div class="flex flex-col h-full p-6">
    {% if title %}
      <div>
        <h3 class="text-xl text-insight-text-primary dark:text-insight-text-primary-dark">{{ title }}</h3>
        {% if subtitle %}
          <p class="text-insight-text-secondary dark:text-insight-text-secondary-dark">{{ subtitle }}</p>
        {% endif %}
      </div>
    {% endif %}

    {% if content %}
      <div class="grow my-4">
        {{ content }}
      </div>
    {% endif %}

    {% if actions %}
      <div class="flex gap-2">
        {% for action in actions %}
          <a href="{{ action.url }}" class="btn btn-{{ action.type }}" {% if action.external %}target="_blank" rel="noopener"{% endif %}>
            {{ action.text }}
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
