{% load static i18n %}

<div class="flex flex-col overflow-hidden bg-gray-50 dark:bg-gray-700 max-w-72 border-gray-100 dark:border-none shadow-lg rounded hover:scale-105 hover:shadow-xl transition-transform duration-500">
    <img class="w-full" src="{% static image %}" alt="{{ title }}-Thumbnail">

    <!-- Title and description -->
    <div class="h-full px-4 py-2">
        {% if url %}
            <a href="{% url url %}">
                <p id="card-title" class="text-insight-text-primary dark:text-insight-text-primary-dark font-bold text-xl hover:text-insight-text-link-hover mb-2">{{ title }}</p>
            </a>
        {% else %}
            <p id="card-title" class="text-insight-text-primary dark:text-insight-text-primary-dark font-bold text-xl mb-2">{{ title }}</p>
        {% endif %}
        <p id="card-description" class="text-insight-text-secondary dark:text-insight-text-secondary-dark text-base text-justify hyphens-auto" lang="de">{{ content }}</p>
    </div>

    <!-- Tags -->
    {% if tags %}
        <div id="card-tags" class="px-4">
            {% for tag in tags %}
                <button class="btn btn-primary btn-xs">
                    {{ tag }}
                </button>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Start and more -->
    <div class="flex flex-col items-stretch gap-2 pt-4 m-4 border-t border-insight-text-secondary dark:border-insight-text-secondary-dark">
        {% for action in actions %}
            <a href="{{ action.url }}" class="btn btn-{{ action.type }}" {% if action.external %}target="_blank" rel="noopener"{% endif %}>
                {{ action.text }}
            </a>
        {% endfor %}
    </div>
</div>
