{% extends "insight_ui/base.html" %}
{% load insight_tags %}
{% load i18n %}

{% block title %}{% trans 'Django Insight UI index.html' %}{% endblock %}

{% load i18n %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}

{% load i18n %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <!-- Layout mit rechter Sidebar -->
    <div class="flex min-h-screen bg-gray-50 dark:bg-gray-900">

        <!-- Hauptinhalt -->
        <main class="flex-1 mr-0 transition-all duration-300" id="main-content">
            <div class="container mx-auto p-6">
                <!-- Include Storybook -->
                {% include "insight_ui/storybook.html" with toggle_table_headers=toggle_table_headers toggle_table_rows=toggle_table_rows toggle_cards=toggle_cards toggle_current_view=toggle_current_view %}
            </div>
        </main>
{% endblock %}
