{% load static i18n insight_tags %}

<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ PROJECT_NAME }}{% endblock %}</title>

    <!-- Webmanifest für Favicon -->
    <link rel="manifest" href="{% static 'insight_ui/favicon/site.webmanifest' %}">
    <link rel="icon" href="{% static INSIGHT_UI.favicon %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static INSIGHT_UI.apple_touch_icon %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static INSIGHT_UI.favicon_32 %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static INSIGHT_UI.favicon_16 %}">
    <link rel="mask-icon" href="{% static INSIGHT_UI.safari_mask_icon %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="{{ INSIGHT_UI.msapplication_TileColor }}">
    <meta name="theme-color" content="{{ INSIGHT_UI.theme_color }}">
    <!-- CSRF Token for Django -->
    <meta name="csrf-token" content="{{ csrf_token }}">
    <!-- SEO Meta Tags -->
    <meta name="description" content="{% block meta_description %}{{ INSIGHT_UI.meta.seo.description }}{% endblock meta_description %}">
    <meta name="keywords" content="{% block meta_keywords %}{{ INSIGHT_UI.meta.seo.keywords }}{% endblock meta_keywords %}">
    <meta name="author" content="{% block meta_author %}{{ INSIGHT_UI.meta.seo.author }}{% endblock meta_author %}">
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{% block og_title %}{{ INSIGHT_UI.meta.open_graph.title }}{% endblock og_title %}">
    <meta property="og:description" content="{% block og_description %}{{ INSIGHT_UI.meta.open_graph.description }}{% endblock og_description %}">
    <meta property="og:image" content="{% static 'insight_ui/favicon/og-image.png' %}">
    <meta property="og:url" content="{% block og_url %}{{ INSIGHT_UI.meta.open_graph.url }}{% endblock og_url %}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{% block og_site_name %}{{ INSIGHT_UI.meta.open_graph.site_name }}{% endblock og_site_name %}">
    <meta property="og:locale" content="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">
    <meta property="og:locale:alternate" content="{% get_available_languages as LANGUAGES %}{% for lang in LANGUAGES %}{{ lang.0 }}{% if not forloop.last %},{% endif %}{% endfor %}">
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% block twitter_title %}{{ INSIGHT_UI.meta.twitter.title }}{% endblock twitter_title %}">
    <meta name="twitter:description" content="{% block twitter_description %}{{ INSIGHT_UI.meta.twitter.description }}{% endblock twitter_description %}">
    <meta name="twitter:image" content="{% static 'insight_ui/favicon/twitter-image.png' %}">
    <meta name="twitter:site" content="{% block twitter_site %}{{ INSIGHT_UI.meta.twitter.site }}{% endblock twitter_site %}">
    <meta name="twitter:creator" content="{% block twitter_author %}{{ INSIGHT_UI.meta.twitter.author }}{% endblock twitter_author %}">

    <!-- HTMX CDN -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-ws@2.0.2" crossorigin="anonymous"></script>

    <!-- Insight UI Modular Utils  -->
    <script defer src="{% static 'insight_ui/js/insight-ui-utils.js' %}"></script>

    <!-- Main stylesheet -->
    <link rel="stylesheet" href="{% static INSIGHT_UI.stylesheet %}">

    {% block extra_head %}{% endblock %}
</head>
<body {% if not request.COOKIES.insight_ui_theme %} data-theme="{{ INSIGHT_UI.theme }}"{% endif %}
    class="size-full min-h-screen bg-gray-50 dark:bg-gray-900 text-insight-text-primary dark:text-white transition-colors duration-200 flex flex-col"
    hx-ext="ws">

    <header>
        {% block navbar %}
        {% endblock navbar %}
    </header>

    {% block sidebar_right %}{% endblock sidebar_right %}
    {% block sidebar_left %}{% endblock sidebar_left %}

    <main id="main-content" class="flex flex-1 relative pt-16 mx-24">
        {% block content %}{% endblock %}
    </main>

    {% block footer %}
    {% endblock footer %}

    <!-- Insight UI Modular JavaScript -->
    <script defer src="{% static 'insight_ui/js/insight-ui-utils.js' %}"></script>
    <script defer src="{% static 'insight_ui/js/insight-ui-dropdown.js' %}"></script>
    <script defer src="{% static 'insight_ui/js/insight-ui-theme-toggle.js' %}"></script>
    <script defer src="{% static 'insight_ui/js/insight-ui-modal.js' %}"></script>
    <script defer src="{% static 'insight_ui/js/insight-ui-sidebar.js' %}"></script>
    <script defer src="{% static 'insight_ui/js/insight-ui-select-language.js' %}"></script>
    <script defer src="{% static 'insight_ui/js/insight-ui-websocket.js' %}"></script>
    <script defer src="{% static 'insight_ui/js/insight-ui-carousel.js' %}"></script>
    <script defer src="{% static 'insight_ui/js/insight-ui-init.js' %}"></script>
    <!-- HTMX Extensions -->
    <script defer src="{% static 'insight_ui/js/insight-ui-htmx-extensions.js' %}"></script>

    {% block extra_scripts %}{% endblock %}
</body>
</html>
