{% extends "insight_ui/components/carousel.html" %}

{% load static insight_tags %}

{% block carousel_content %}
    <div class="relative">
        {% if item.title %}
            <!-- Description overlay -->
            <div class="absolute z-30 top-4 w-full flex justify-center px-2">
                <div class="bg-neutral-700 bg-opacity-95 px-4 py-1 w-fit rounded-lg">
                    <p class="text-white text-lg font-semibold">{{ item.title }}</p>
                </div>
            </div>
        {% endif %}
        <div class="flex justify-center h-full bg-neutral-100">
            <img src="{% static item.url %}" alt="Image" class="p-2 max-h-full m-auto">
        </div>
    </div>
{% endblock carousel_content %}
